h1{
    color: aquamarine;
}
img{
    width: 20%;
}
iframe{
    width: 150px;
    height: 150px;
}
header{
    display: inline;
}

#logo{
width: 35%;
}

.logoBombis{
    width: 10%
}
#vedetinas{
    width: 150%;
}

.LogoProductos{
    width: 10%;
}

nav{
    display: inline;
}
