. {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}
 body{
    background-color: #f4efec;
 }

 .home{
    display: flex;
}

.in-flex{
    flex: 1;
}
h1{

    background-color: #f0d9d1;
}
img{
    width: 20%;
}
iframe{
    width: 150px;
    height: 150px;
}
header{
    display: inline;
}

#logo{
width: 35%;
}

.logoBombis{
    width: 10%
}
#vedetinas{
    width: 150%;
}

.LogoProductos{
    width: 10%;
}


